body{
    background-color: #f6f6f6;
}
header{
    padding:11px 0;
    height:38px;
    line-height: 38px;
    width:100%;
    margin:0;
    color:#fff;
    background-color: #303643;
    position: relative;
    .container{
        width:1200px;
        margin:0 auto;
    }
    .logo{
        font-size : 18px;
        color:#fff;
        background: url('../image/logo-white.png') 0 0 no-repeat;
        padding-left:60px;
        font-weight: normal;
    }
    .loginer{
        a{
            color:#fff;
        }
    }
    .items{
        a{
            color:#fff;
        }
    }
    .searchBar{
        border:none;
        background-color:#fff;
        // position: absolute;
        // left:268px;
    }
}
article{
    width:1200px;
    margin:60px auto;
    section{
        &.course-detail{
            background-color: #fff;
            box-shadow: 0px 0px 5px rgba(0,0,0,.3);;
            padding:20px 0px 56px 20px;
            margin-bottom:16px;
            .image{
                background:url(../image/poster-rec1.jpg) center center no-repeat;
                background-size:cover;
                width:450px;
                height:250px;
                display: inline-block;
                vertical-align: middle;
                margin-right:18px;
            }
            .course-introdution{
                display: inline-block;
                position: relative;
                vertical-align: middle;
                height:250px;
                h1{
                    font-size:24px;
                    color:#333;
                    margin-bottom:16px;
                    margin-top:0;
                }
                p{
                    line-height:38px;
                    font-size:12px;
                    &.about-news{
                        span{
                            margin-right:20px;
                        }
                    }
                    &.begintime{
                        span{
                            color:#d61616;
                        }
                    }
                }
                .enterbtn{
                    min-width:600px;
                    position: absolute;
                    left:0;
                    bottom:0;
                    span{
                        font-size:16px;
                        color:#fff;
                        display: inline-block;
                        background-color: #2389cb;
                        padding:15px 30px;
                        margin-right:56px;
                    }
                    i{
                        color:#d61616;
                        font-size:14px;
                    }
                }
            }
        }
        &.something-about-video{
            .tab{
                background-color: #fff;
                padding:22px 0px 22px 36px;
                margin-bottom:18px;
                box-shadow: 0px 0px 5px rgba(0,0,0,.3);
                a{
                    color:#333;
                    font-size:14px;
                    padding:9px 15px;
                    &:hover{
                        background-color: #3a3e4a;
                        color:#fff;
                    }
                }
            }
            .columns{
                background-color: #fff;
                box-shadow: 0px 0px 5px rgba(0,0,0,.3);
                .tab-name{
                        padding-left:13px;
                        color:#333;
                        font-size:18px;
                        line-height:60px;
                        border-bottom:1px solid #ccc;
                }
            }
            #comments{
                background-color: #fff;
                font-size:12px;
                padding:13px 23px 20px 13px;
                .avatar{
                    width:50px;
                    height:50px;
                    float:left;
                }
                .comments-content{
                    margin-left:70px;
                    p{
                        &:first-child{
                            margin-bottom:14px;
                        }
                        .username{
                            color:#2389cb;


                        }
                        .play-time{
                            float:right;
                             border:1px solid #e9e9e9;
                             display: inline-block;
                             height:20px;
                            
                            .icon{
                                width:24px;
                                display: inline-block;
                                height:20px;
                                font-size:28px;
                                line-height: 20px;
                            }
                            .current{
                                display: inline-block;
                                width:60px;
                                height:20px;
                                background-color: #f5f5f5;
                                text-align: center;
                                line-height: 20px;
                                vertical-align: top;
                            }
                        }
                        &.operation{
                            color:#999;
                            margin-top:10px;
                            .do{
                                float:right;
                                i{
                                    border:none;
                                    font-size:12px;
                                    line-height:22px;
                                    text-align:right;
                                    width:86px;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}