/*必须上方的css文件是common*/
header {
  padding: 11px 0;
  height: 38px;
  line-height: 38px;
  width: 100%;
  margin: 0;
  color: #fff;
  background-color: #303643;
  position: relative;
}
header .container {
  width: 1200px;
  margin: 0 auto;
}
header .logo {
  font-size: 18px;
  color: #fff;
  background: url('../image/logo-white.png') 0 0 no-repeat;
  padding-left: 60px;
  font-weight: normal;
}
header .loginer a {
  color: #fff;
}
header .items a {
  color: #fff;
}
